<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ attributes.title }} | Navy{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ siteUrl }}/styles.css" />
  </head>
  <body>
    <div id="main-nav">
      <a href="{{ siteUrl }}/" id="logo">Na<span>v</span>y</a>

      <ul class="top-nav">
        <li class="{% if attributes.section == "home" %}active{% endif %}">
          <a href="{{ siteUrl }}/">Home</a>
        </li>
        <li class="{% if attributes.section == "install" %}active{% endif %}">
          <a href="{{ siteUrl }}/getting-started/install.html">Install</a>
        </li>
        <li class="{% if attributes.section == "docs" %}active{% endif %}">
          <a href="{{ siteUrl }}/docs/day-to-day-usage.html">Docs</a>
        </li>
        <li>
          <a href="https://github.com/momentumft/navy" target="_blank">
            <img src="{{ siteUrl }}/github-logo.png" width="32" style="position: relative; top: 2px">
          </a>
        </li>
      </ul>
    </div>

    {% block body %}

    <div id="body">
      <div id="sidebar">
        {% block sidebar %}
        <h4>Usage</h4>

        <ul class="side-nav">
          <li>
            <a href="{{ siteUrl }}/docs/day-to-day-usage.html">Day-to-day usage</a>
          </li>
          <li>
            <a href="{{ siteUrl }}/docs/develop.html">Developing services</a>
          </li>
          <li>
            <a href="{{ siteUrl }}/docs/multiple-navies.html">Working with Multiple Navies</a>
          </li>
        </ul>

        <h4>Advanced</h4>

        <ul class="side-nav">
          <li>
            <a href="{{ siteUrl }}/docs/api-introduction.html">Node API tutorial</a>
          </li>
          <li>
            <a href="{{ siteUrl }}/docs/writing-plugins.html">Writing plugins</a>
          </li>
          <li>
            <a href="{{ siteUrl }}/docs/http-proxy.html">HTTP proxy</a>
          </li>
        </ul>

        <h4>Reference</h4>

        <ul class="side-nav">
          <li>
            <a href="{{ siteUrl }}/docs/navyfile-config.html">Navyfile.js config</a>
          </li>
          <li>
            <a href="{{ siteUrl }}/docs/api/">API Documentation</a>
          </li>
        </ul>
        {% endblock %}
      </div>

      <div id="page">
        {% block page %}{{ content | safe }}{% endblock %}
      </div>
    </div>

    {% endblock %}

    <footer>
      <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-10">
          <div class="row">
            <div class="link-section col-md-4">
              <h3>Getting Started</h3>
              <ul>
                <li><a href="/getting-started/install.html">Install</a></li>
                <li><a href="/getting-started/hello-world.html">Hello world</a></li>
                <li><a href="/getting-started/examples.html">Examples</a></li>
              </ul>
            </div>
            <div class="link-section col-md-4">
              <h3>Usage</h3>
              <ul>
                <li><a href="/docs/day-to-day-usage.html">Day-to-day usage</a></li>
                <li><a href="/docs/develop.html">Developing Services</a></li>
                <li><a href="/docs/multiple-navies.html">Working with Multiple Navies</a></li>
              </ul>
            </div>
            <div class="link-section col-md-4">
              <h3>Documentation</h3>
              <ul>
                <li><a href="/docs/navyfile-config.html">Navyfile.js config</a></li>
                <li><a href="/docs/writing-plugins.html">Writing plugins</a></li>
                <li><a href="/docs/api/">API Documentation</a></li>
              </ul>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12 built-by">Built by <a href="https://github.com/momentumft" target="_blank">Momentum Financial Technology</a></div>
          </div>
        </div>
      </div>
    </footer>

    {% block js %}{% endblock %}
    <script src="{{ siteUrl }}/js/sticky-sidebar.js"></script>
  </body>
</html>
