{
  "presets": [
    ["env", {
      "targets": {
        "node": "6.0"
      }
    }],
    "stage-0"
  ],
  "plugins": [
    "add-module-exports",
    "transform-flow-strip-types",
    "transform-runtime",
    "./resources/babel/transform-error-codes.js"
  ]
}
